<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lunchomat - Start</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="//unpkg.com/cirrus-ui" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="content">
      <div class="row">
        <h2>
          <a href="/">Lunchomat</a>
          <a href="/refresh"><i class="fa fa-refresh fa-fw"></i></a>
          <a href="/add"><i class="fa fa-plus-circle fa-fw"></i></a>
        </h2>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <td>Name</td>
              <td>Distance</td>
              <td>Rating</td>
              <td>TimesVisited</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td>
                <a href="{{.Link}}" target="_blank">{{.Name}}</a>
              </td>
              <td>{{printf "%.2f" .Distance}}</td>
              <td>{{.Rating}}</td>
              <td>{{.TimesVisited}}</td>
              <td>
                <!-- <a href="/visited/{{.Id}}"><div class="button">Visited</button></a>
                <a href="/preferred/{{.Id}}"><i class="icono-heart {{if .Preferred}}enabled{{ end }}"></i></a>
                <a href="/ignored/{{.Id}}"><i class="icono-crossCircle {{if .Ignored}}enabled{{ end }}"></i></a> -->
                <div class="btn-group">
                  <a href="/visited/{{.Id}}"><button class="btn-small"><i class="fa fa-fw fa-plus"></i>Visited</button></a>
                  <a href="/preferred/{{.Id}}"><button class="btn-small {{if .Preferred}}btn-accent{{ end }}">Preferred</button></a>
                  <a href="/ignored/{{.Id}}"><button class="btn-small {{if .Ignored}}btn-accent{{ end }}">Ignored</button></a>
                </div>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
