<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icono/1.3.0/icono.min.css" />
  <style>
      .enabled {
        color: aquamarine;
        text-decoration: none;
      }
  </style>
</head>
<body>
  <div class="container">
    <h2><a href="/">Lunchomat</a>
        <a href="/refresh"><i class="icono-sync"></i></a>
        <a href="/add"><i class="icono-plus"></i></a>
    </h2>
    <table class="u-full-width">
        <thead>
            <tr>
                <td>Name</td>
                <td>Distance</td>
                <td>Rating</td>
                <td>TimesVisited</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{range .}}
                <tr>
                    <td>
                        <a href="{{.Link}}" target="_blank">{{.Name}}</a>
                    </td>
                    <td>{{printf "%.2f" .Distance}}</td>
                    <td>{{.Rating}}</td>
                    <td>{{.TimesVisited}}</td>
                    <td>
                        <a href="/visited/{{.Id}}"><i class="icono-checkCircle"></i></a>
                        <a href="/preferred/{{.Id}}"><i class="icono-heart {{if .Preferred}}enabled{{end}}"></i></a>
                        <a href="/ignored/{{.Id}}"><i class="icono-crossCircle {{if .Ignored}}enabled{{end}}"></i></a>
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
  </div>
</body>
</html>